<?xml version="1.0" ?>
<model>
  <name>wheeltec_robot_urdf</name>
  <version>2.1.0</version>
  <sdf version="1.6">urdf/mini_akm_robot.urdf</sdf>
  <author>
    <name>wheeltec</name>
    <email>wheeltec@todo.todo</email>
  </author>
  <description>
    3D models of the wheeltec_robot for simulation and visualization
  </description>
</model>
