<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro
    name="xarm_ros2_control"
    params="name hardware_type initial_positions_file gripper_mimic:=true">
    <xacro:property
      name="initial_positions"
      value="${xacro.load_yaml(initial_positions_file)['initial_positions']}" />

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${hardware_type == 'mock_components'}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="calculate_dynamics">true</param>
        </xacro:if>
        <xacro:if value="${hardware_type == 'gz'}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
      </hardware>

      <xacro:macro name="controlled_joint" params="joint_name">
        <joint name="${joint_name}">
          <command_interface name="position" />
          <state_interface name="position">
            <param name="initial_value">${initial_positions[joint_name]}</param>
          </state_interface>
          <state_interface name="velocity">
            <param name="initial_value">0.0</param>
          </state_interface>
        </joint>
      </xacro:macro>

      <xacro:controlled_joint joint_name="arm_1_joint" />
      <xacro:controlled_joint joint_name="arm_2_joint" />
      <xacro:controlled_joint joint_name="arm_3_joint" />
      <xacro:controlled_joint joint_name="arm_4_joint" />
      <xacro:controlled_joint joint_name="arm_5_joint" />
      <xacro:controlled_joint joint_name="arm_6_joint" />
      <xacro:controlled_joint joint_name="gripper_1_joint" />
      <xacro:if value="${gripper_mimic}">
        <joint name="gripper_2_joint">
          <param name="mimic">gripper_1_joint</param>
          <param name="multiplier">1.0</param>
        </joint>
      </xacro:if>
      <xacro:unless value="${gripper_mimic}">
        <xacro:controlled_joint joint_name="gripper_2_joint" />
      </xacro:unless>
    </ros2_control>
  </xacro:macro>
</robot>
